.cart-tax-info{
	display:block;
	padding-right:20px;
	.cart-price{
		padding-right:20px;
	}
}

.cart-tax-total{
	display:block; 
	padding-right:20px; 
	background:url(../images/bkg_collapse.gif) 100% 4px no-repeat; 
	cursor:pointer;
}

.cart-tax-info,
.cart-tax-total{
	.price{
		display:inline !important; 
		font-weight:normal !important;
	}
}

.cart-tax-total-expanded { 
	background-position:100% -53px; 
}

.cart{
	.page-title{
		.checkout-types{
			display:none !important;
		}
	}
	.btn-checkout{
		@extend .btn;
		@extend .btn-lg;
		@extend .btn-primary;
		margin-bottom: 20px;
	}
	.checkout-types{
		.paypal-or{
			margin:0 8px; 
			line-height:2.3;
		}
	}
	.totals{
		.checkout-types{
			.paypal-or{
				clear:both; 
				display:block; 
				padding:8px 55px 0 0; 
			}
		}
		ul{
			margin-left: 0;
		}
	}
	.cart-collaterals{
		padding:20px 0 0;
	}
	.crosssell{
		border:1px solid #ddd; 
		background:#f7f7f7; 
		padding:10px;
		.product-image{
			float:left; 
			width:75px; 
			height:75px;
		}
		.product-details{
			margin-left:85px;
		}
		.product-name{
			font-weight:bold;
		}
		li.item{
			margin:0 0 8px; 
			padding-bottom:5px; 
			border-bottom:1px solid #ddd;
		}
		li.last{
			border-bottom:0; 
			padding-bottom:0; 
			margin:0;
		}
		.link-compare{
			font-weight:normal;
		}
	}
	.no-crosssell{
		width:100%; 
		overflow:hidden;
		img{
			display:block; 
			margin:0 0 10px;
		}
	}
	.discount,
	.shipping{
		padding:10px 0; 
		h2{
			margin-top: 0;
			background: none;
			font-size: 22px;
		}
		.buttons-set{
			margin:10px 0 0; 
			border:0; 
			padding:0; 
			text-align:left;
			button.button{
				float:none; 
				margin:0;
			}
		}
	}
	.discount{
		label{
			font-weight:bold; 
			color:#555;
		}
		h3.alternate{
			margin-top: 0;
		}
	}
	.shipping{
		p{
			margin:0 0 3px;
		}
		.sp-methods{
			margin:10px 0 0; 
			padding:6px 0 0; 
			border-top:1px solid #c0d2af;
		}
		.form-list{
			.input-box{
				width:270px;
			}
			input.input-text{
				width:264px;
			}
			select{
				width:270px;
			}
		}
	}
	.totals{
		text-align: right;
		@include breakpoint($tablet-below){
			text-align: left;
			margin-top: 20px;
		}
		.checkout-types{
			padding:10px 0; 
			text-align:right;
			@include breakpoint($tablet-below){
				text-align: left;
			}
			li{
				clear:both; 
				margin:0 0 10px;
			}
		}
	}
}

.item-options{
	dt{
		font-weight:bold; 
		font-style:italic;
	}
	dd{
		padding-left:10px;
	}
}

.truncated { 
	cursor:help; 
	a{
		&.dots{
			cursor:help; 
			text-decoration:none !important;
		}
		&.details{
			cursor:help; 
			text-decoration:none !important; 
			display:inline-block; 
			border-bottom:1px dotted #4f8100;
		}
	}
	.truncated_full_value{
		position:relative; 
		z-index:999;
		.item-options{
			position:absolute; 
			top:-99999em; 
			z-index:999; 
			width:250px; 
			padding:8px; 
			border:2px solid #ddd; 
			border-bottom-color:#666; 
			background-color:#f6f6f6;
		}
		dt{
			margin-top:0;
		}
		> p{
			font-weight:bold; 
			text-transform:uppercase;
		}
	}
	.show{
		.item-options{
			top:-20px; left:50%;
		}
	}
}

.cart-header{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	@include breakpoint($desktop-below){
		display: none;
	}
}

.cart-body{
	.cart-row{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	@include breakpoint($desktop-below){
		text-align: center;
		div{
			margin-bottom: 5px;
		}
		input.qty{
			margin: 0 auto;
		}
		.remove-item a{
			font-size: 30px;
		}
	}
	.product-image{
		margin-bottom: 10px;
	}

}
.totals{
	.price{
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 5px;
	}
}