.links{
	li{
		display:inline;
		&.first{
			padding-left:0 !important;
		}
		&.last{
			background:none !important; 
			padding-right:0 !important;
		}
	}
}

.link-cart { 
	font-weight:bold; 
	color:#d62502; 
}

.btn-remove { 
	display:block; 
	width:12px; 
	height:12px; 
	font-size:0; 
	line-height:0; 
	background:url(../images/btn_remove.gif) 0 0 no-repeat; 
	text-indent:-999em; 
	overflow:hidden; 
}
.btn-previous { 
	display:block; 
	width:12px; 
	height:12px; 
	font-size:0; 
	line-height:0; 
	background:url(../images/btn_previous.gif) 0 0 no-repeat; 
	text-indent:-999em; 
	overflow:hidden; 
}

.cards-list{
	dt{
		margin:5px 0 0;
	}
	.offset{
		padding:2px 0 2px 20px;
	}
}

.separator { 
	margin:0 3px; 
}

.divider { 
	clear:both; 
	display:block; 
	font-size:0; 
	line-height:0; 
	height:1px; 
	background:#ccc; 
	margin:10px 0; 
	text-indent:-999em; 
	overflow:hidden; 
}

/* RSS */
.rss-title h1 { 
	background:url(../images/i_rss-big.png) 0 3px no-repeat; 
	padding-left:27px; 
}
.rss-table .link-rss { 
	display:block; 
	line-height:1.55; 
	background-position:0 4px; 
}

hr{
	border-color: lighten($brand-secondary, 50%) !important;
	background-color: lighten($brand-secondary, 50%) !important;
}