.stream-area{
	padding-bottom: 120px;
	margin-bottom: 30px;
	background-color: #c8b49c;
    background-image: url("../images/ltte/stream-bg.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    img.img-responsive{
    	margin: 0 auto !important;
    }
}
.stream-header{
	padding-top: 10px;
}
.stream-hole{
	margin-bottom: 0 !important;
}
.stream-block{
	margin-bottom: 15px;
}